body {
    font-family: "Roboto", sans-serif;
    padding: 0 0;
    margin: 0 0;
}
a {
    text-decoration: none;
    color: #40a9ff;
    font-family: sans-serif;
}
// Main page titles
h1 {
    margin: 10px 5px 10px 0px;
    padding-bottom: 5px;
    font-size: 1.2em;
    border-bottom: 1px solid lightgray;
    color: #44484c;
}

.MuiButton-containedSecondary {
    background-color: maroon !important;
}

.MuiButton-textSecondary {
    color: maroon !important;
}
.ib-header {
    width: 100%;
    background-color: #44484c !important;
    .ib-header-toolbar {
        line-height: 40px;
        .horizontal-linklist {
            display: flex;
            justify-content: space-between;
            background-color: #44484c;
            .linklist-linktext {
                text-decoration: none;
                text-transform: uppercase;
                color: white;
                font-weight: bold;
            }
        }
        .hamburger-button {
            color: white;
        }
    }
}
.ib-hamburger-drawer {
    .drawer-linklist {
        width: 210px;

        a {
            color: #44484c;
        }

        .MuiListItemIcon-root {
            min-width: 0;
            margin-right: 8px;
        }
    }
}
div.ib-footer {
    margin-top: 25px;
    background-color: #f5f5f5;
    padding: 25px;
    text-align: center;
}

.ib-dialogmodal {
    border: none;
    outline: none;
    .ib-dialogmodal-inner-wrapper {
        position: absolute;
        left: 50%;
        top: 50px;
        width: auto;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        border: none;
        outline: none;
        min-height: 200px;

        .ib-dialogmodal-title {
            font-size: 24px;

            button {
                position: absolute;
                right: 3px;
                top: 2px;
                min-width: 0px;
                border-radius: 80px;

                .MuiButton-startIcon {
                    margin: 0 0;
                    svg {
                        font-size: 28px;
                        color: gray;
                    }
                }
            }
        }
        .ib-dialogmodal-footer {
            padding: 10px;
            background-color: white;
            display: flex;
            justify-content: space-between;
        }
    }
}

button.ib-button-green {
    color: #fff;
    background-color: #099200;
    border-color: #099200;
}

button.ib-button-green:hover {
    color: #fff;
    background-color: #3ab532;
    border-color: #3ab532;
}

div.ib-filebrowser-spin-box {
    width: 100%;
    padding-top: 30px;
    text-align: center;
}

div.ib-filebrowser-topbar {
    .filebrowser-topbar-current-path {
        display: inline-block;
        vertical-align: middle;
        input {
            width: 95%;
        }
    }
    .filebrowser-topbar-refresh-icon {
        display: inline-block;
        vertical-align: middle;
    }
}

div.ib-filemanager-button-bar {
    padding: 10px;

    .MuiButton-label {
        line-height: 1em;
        font-size: 0.7em;
    }
}

div#ib-filemanager-directorymenu ul {
    height: 40px;
}

div#ib-filemanager-directorymenu ul a {
    height: 38px;
}

table.ib-filemanager-table {
    tr {
        font-size: 0.9em;

        line-height: 0.9em;

        th {
            &.MuiTableCell-root {
                padding: 0px;
            }
            &.filemanager-checkbox-column {
                padding: 2px;
                width: 30px;
            }
        }
        td {
            vertical-align: middle;
            &.filemanager-checkbox-column {
                width: 30px;
            }
            &.filemanager-name-column {
                text-align: left;

                svg {
                    font-size: 1.1em;
                }
                .filemanager-file-details {
                    height: inherit;
                    vertical-align: middle;
                    .filemanager-filename-topline {
                        font-family: monospace;
                        margin: 4px;
                        display: block;
                        white-space: nowrap;
                        .filemanager-video-icon {
                            vertical-align: middle;
                            display: inline-block;
                            color: gray;
                            font-size: 1.6em;
                            margin-right: 4px;
                        }
                        .filemanager-filename-text {
                            vertical-align: middle;
                            display: inline-block;
                            font-size: 1.2em;
                        }
                    }

                    .filemanager-filename-bottomline {
                        width: 100%;
                        background-color: #fffcf5;
                        border-radius: 2px;
                        padding: 2px;
                        text-align: center;
                        font-size: 0.9em;
                        .tag-single-wrapper {
                            vertical-align: middle;
                            color: #006fc4;
                            cursor: pointer;
                            .tag-single-icon {
                                display: inline-block;
                                vertical-align: middle;
                                margin-right: 6px;
                            }
                            .tag-single-text {
                                font-weight: bold;
                                display: inline-block;
                                vertical-align: middle;
                            }
                        }
                    }
                }

                .filemanager-directory-details {
                    cursor: pointer;
                    .filemanager-directory-icon {
                        vertical-align: middle;
                        display: inline-block;
                        font-size: 1.2em;
                        margin-right: 4px;
                        padding: 4px;

                        .filemanager-folder-icon {
                            color: #f8d775;
                        }
                        .filemanager-arrowup-icon {
                            color: #006fc4;
                        }
                    }
                    .filemanager-directory-name {
                        vertical-align: middle;
                        display: inline-block;
                        font-weight: 500;
                        color: #006fc4;
                    }
                }
            }
            &.filemanager-size-column {
                text-align: right;
            }
            &.MuiTableCell-root {
                padding: 0px;
            }

            // Icons
            // .MuiSvgIcon-root {
            //     font-size: 1.1em;
            // }
        }
    }
}
div.ib-idmodal-topbar {
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 5px;
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    margin-top: 5px;

    .idmodal-topbar-button-wrapper {
        display: inline-block;
        vertical-align: middle;
        width: 27%;
        text-align: right;

        .MuiButtonBase-root {
            padding: 2px 5px;
            font-size: 0.4em;
        }
    }
    .idmodal-topbar-filename-wrapper {
        display: inline-block;
        vertical-align: middle;
        width: 70%;
        input {
            width: 100%;
        }
    }
}

div.ib-idmodal-wrapper {
    .idmodal-accordion-wrapper {
        margin-top: 9px;
        padding: 5px;
        .MuiAccordionSummary-root {
            min-height: 30px !important;

            .MuiAccordionSummary-content {
                margin: 0 0;
            }
            .MuiButtonBase-root {
                height: 15px;
            }
        }

        .idmodal-movie-checksearch-wrapper {
            width: 100%;
            .idmodal-movie-checksearch-checks-wrapper {
                margin-top: 8px;
                .idmodal-movie-checksearch-option {
                    font-size: 10px;
                    .MuiCheckbox-root {
                        padding: 2px;
                        margin-right: 6px;
                    }
                }
            }
        }
    }
    div.ib-idmodal-archivesingle-episodeinfo {
        font-size: 1.1em;
        font-weight: bold;
        border: 1px solid gray;
        padding: 5px;
        margin: 5px;
    }

    div.ib-idmodal-archivesingle-form-box {
        border: 1px solid gray;
        padding: 5px;
        margin: 5px;

        input {
            width: 96%;
            font-size: 1em;
        }
    }

    div.ib-idmodal-button-box {
        width: 100%;
        padding: 5px;
        text-align: right;
    }

    div.ib-idmodal-idepisode-box {
        width: 100%;
        text-align: center;

        .select-search__input {
            width: 100%;
            margin-bottom: 4px;
        }
    }

    div.ib-idmodal-movieresults-topbar {
        h4 {
            margin: 0 0;
            padding-left: 4px;
            padding-bottom: 4px;
        }
        div.ib-idmodal-movieresults-searchbox {
            text-align: center;

            .MuiInputBase-root {
                margin-right: 4px;
                .MuiInputBase-input {
                    padding: 6px 9px 5px 10px;
                    font-size: 1em;
                }
            }
        }
    }
}
div.ib-misd-item-search-details-box {
    .misd-item-wrapper {
        min-height: 330px;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        padding: 5px;
        text-align: center;
        div.misd-item-img-box {
            width: 100%;
            text-align: center;
            margin-top: 4px;
        }

        img {
            width: 100%;
        }
    }
}

.ib-idmultiplemodal-wrapper {
    .idmul-inputgroup-container {
        margin: 5px 0 5px 0;
        border-radius: 3px;
        background-color: #f2f2f2;
        padding: 4px;
        label {
            width: 25%;
            margin-right: 4px;
        }
        input {
            width: 65%;
        }
    }

    .idmul-episodes-container {
        min-height: 200px;
        div.idmul-episode-box {
            h4 {
                margin: 0 0;
            }
            input {
                width: 95%;
            }
            border: 1px solid gray;
            padding: 5px;
            margin: 5px;
        }
    }
    .idmul-button-box {
        width: 100%;
        text-align: center;
    }
}

/** The main content box **/

div#ib-layout-content-box {
    background: #fff;
    min-height: 280px;
}

div.ib-loading-box {
    margin-top: 100px;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

div.ib-moverename-dirsel-box {
    overflow-y: scroll;
    border: 1px solid gray;
    padding: 5px;
}

div.ib-moverename-inputs-container {
    border: 1px solid gray;
    padding: 5px;
    margin-top: 5px;

    h4 {
        margin: 0px 0px 10px 0px;
    }
    .ib-moverename-input-box {
        margin-top: 5px;
        padding: 5px;

        input {
            width: 100%;
        }
    }
}

div.ib-moviemodal-contents {
    div.mm-title {
        border-bottom: 1px solid lightgray;
        line-height: 2em;
        height: 2em;
        font-size: 1.2em;
        font-weight: bold;
        padding-left: 8px;
    }

    div.mm-byline {
        line-height: 1.5em;
        height: 1.5em;
        padding-left: 8px;
    }

    div.ib-moviemodal-description {
        padding: 5px;
    }

    div.ib-moviemodal-thumbnail-box {
        padding: 5px;
        margin: 4px;
        border: 2px solid gray;
        text-align: center;
        img {
            width: 100%;
        }
    }
}

div.ib-movies-searchbar {
    text-align: center;
    padding: 5px;
}

.ib-movies-selectstatustag {
    width: 150px;
}

div.ib-movies-thumbnail-box {
    height: 255px;
    padding: 5px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    border: 2px solid lightgray;
    border-radius: 5px;
    overflow: hidden;
    line-height: 1.3em;
    cursor: pointer;
    &.bpoint-xs {
        height: 205px;
    }
    div.ib-movies-thumbnail-title {
        font-size: 12px;

        width: 100%;
        height: 30px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    div.ib-movies-thumbnail-statustags {
        right: 0px;
        bottom: 4px;
        font-size: 1.2em;
        margin-bottom: 0px;
        button {
        }
    }
}

.movie-tag-towatch {
    &.inactive {
        color: lightgray;
    }

    &.active {
        color: green;
    }
}
.movie-tag-favorite {
    &.inactive {
        color: lightgray;
    }

    &.active {
        color: gold;
    }
}
div.ib-movies-veil {
    width: 100%;
    height: 40px;
    opacity: 0.9;
    background-color: black;
    position: absolute;
    top: 0px;
    margin-left: -5px;
    padding-top: 10px;
}

div.ib-newepisodes-block {
    margin-bottom: 5px;
    margin-top: 5px;
    h3 {
        margin: 0px 0px 10px 0px;
        font-size: 1.1em;

        .newepisodes-title-icon {
            vertical-align: middle;
            display: inline-block;
            margin-right: 4px;
        }
        .newepisodes-title-text {
            vertical-align: middle;
            display: inline-block;
        }
    }

    &.newepisodes-no-episodes {
        .MuiCardContent-root {
            padding: 5px;
        }
        h3 {
            margin: 0 0;
            color: gray;
            font-size: 0.8em;
            .newepisodes-title-icon {
                height: 0.8em;
                width: 0.8em;
            }
        }

        p {
            margin: 0 0;
            padding: 10px;
            font-size: 0.7em;
            width: 100%;
            font-style: italic;
        }
    }
    div.ib-newepisode-container {
        border: 2px solid gray;
        padding: 4px;
        border-radius: 6px;
    }

    div.ib-newepisode-img-box {
        vertical-align: top;
        display: inline-block;
        width: 20%;
        margin: 4px;
    }

    img.ib-newepisode-img {
        width: 100%;
    }

    div.ib-newepisode-details-box {
        vertical-align: top;
        display: inline-block;
        width: 75%;
    }

    div.ib-newepisode-show-title {
        font-weight: bold;
        font-size: 1.2em;
        height: 25px;
        width: 100%;
        overflow: hidden;
    }

    div.ib-newepisode-ep-title {
        font-weight: bold;
        font-size: 1.1em;
        height: 20px;
        overflow: hidden;
        width: 100%;
        color: #383f55;
    }

    div.ib-newepisode-links {
        bottom: 0px;
        right: 0px;
    }
}

i.ib-playbutton-icon {
    font-size: 1.2em;
    padding-right: 5px;
}

button.ib-remote-button-active {
    color: #6c3778;
}

button.ib-remote-button:hover,
button.ib-remote-button:focus {
    color: #6c3778;
    border-color: #6c3778;
}

i.ib-remote-icon {
    font-size: 1.2em;
}

.ib-settings-editor-wrapper {
    input {
        border: 1px solid gray;
        padding: 4px;
        width: 100%;
    }
    input.setting-directory {
        width: 75%;
    }
    .setting-dirselector-button {
        padding: 2px 6px;
        margin-left: 4px;
    }
}
div.ib-settings-dirsel-fs-cont {
    overflow-y: scroll;
}

div.ib-showmodal-search-topbar {
    text-align: center;
    margin-top: 12px;
    .MuiInputBase-root {
        margin-right: 4px;
        .MuiInputBase-input {
            padding: 6px 9px 5px 10px;
            font-size: 1em;
        }
    }
}

div.ib-shows-seasonlist-seasontitle {
    font-size: 1.1em;
}

div.ib-shows-seasonlist-episode-row {
    margin-left: 5px;
    margin-top: 2px;
    border-bottom: 1px solid #ebebeb;
}

.ib-show-info-container {
    margin-top: 10px;
    div.showinfo-thumbnail-box {
        padding: 5px;
        text-align: center;
        font-size: 1.1em;
        margin: 4px;
        border: 2px solid gray;
    }

    .showinfo-right {
        padding-left: 8px;
        padding-right: 15px;
    }

    img.showinfo-thumb {
        width: 100%;
    }
}

.ib-show-info-tabs-wrapper {
    overflow-x: auto;
}

.ib-show-seasonlist-episodes-container {
    padding: 10px;
}

div.ib-show-seasonlist-season-box {
    float: left;
    width: 50px;
    border: 1px solid black;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-right: 4px;
}

div.ib-show-seasonlist-season-box-active {
    background-color: #ebf3cc;
}

div.ib-showlist-infobox {
    height: 285px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    font-size: 1.1em;
    border: 2px solid gray;
    cursor: pointer;
    &.bpoint-xs {
        height: 230px;
    }

    .showlist-infobox-thumb-container {
        position: relative;
        img {
            max-width: 150px;
            width: 100%;
        }

        .showlist-infobox-tags {
            position: absolute;
            bottom: 4px;
            text-align: center;
            width: 100%;

            span {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-right: 2px;
                margin-left: 2px;
                border-radius: 3px;
                background-color: white;
                color: gray;
                padding: 2px;
                text-align: center;
                line-height: 24px;
                height: 24px;
                width: 50px;
                border: 1px solid gray;

                svg {
                    height: 16px;
                }
            }
        }
    }

    .showlist-infobox-title {
        position: relative;
        height: 44px;
        line-height: 1.4em;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
    }
}

div.ib-showlist-searchbar {
    text-align: center;
    width: 100%;
}

div.ib-spinner-container {
    width: 100%;
    padding-top: 25px;
    text-align: center;
}

ul.ib-trashmodal-list {
    list-style-type: disc;
    padding-left: 15px;
}
